// =========================
// Table of Contents
// =========================
// 1- Variables
// 2- General
// 3- components
    // 3-1 button
// 4- Navigation
// 5- Banner
// 6- Hero
// 7- Shields

// 1- Variables

$font-stack : 'Montserrat', sans-serif;

// 2- General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
}

// 3- Components

//3-1 Button

.button {
    padding: 15px 27px 14px 33px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 4px;
}

.button--transparent {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    padding: 15px 45px 11px 45px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: left;
    // font: SemiBold 18px/22px Montserrat;
    font-family:$font-stack ;
    font-size: 18px;
    font-weight: 600;

}
    


// 4- Navigation

header {
        background-color: rgba(235, 235, 235, .56);
        backdrop-filter: blur(10px);
        padding: 16px 8% 16px 0;
        

        
    }

    // .main {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;

    // }

.logo {
    cursor: pointer;
    height: 28px;
    order: 1;
    margin-left: 20px;

}

nav {
    display: flex;
    flex-direction: row;
}

.nav__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &>* {
        margin-left: 20px;
      }
    
    
    &__link{
        display: none;
        text-align: center;
        width: 100%;
        padding: 16.5px 20px;
        border-bottom: 1px solid #CCCCCC;
        margin-bottom: 10px;
        white-space: nowrap;
        order: 3;
        
        a {
            text-decoration: none;
            font-family: $font-stack;
            text-align: center;
            font-weight:600;
            font-size: 20px;
            letter-spacing: 0;
            color: rgba(34, 34, 34, .53);
        }

        .button {
            color: #FFFFFF;
            font-size: 16px;
            width: 100%;
        }
    }
    
} 

.active {
    .nav__links__link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    #toggle{
        position: absolute;
        top: 4%;
    }
}

.toggle {
    order: 2;
    position: absolute;
    right: 5%;
    top:30%;
    // margin-left: 319px;
}



.button{

    &--academy {
         background: #3EA410 0% 0% no-repeat padding-box;
         color: #FFFFFF;
         font-family: $font-stack;
         font-weight:600;
         font-size: 14px;
        
    }

    &--book {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        color: #000000;
        font-family: $font-stack;
        font-weight:600;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}

// Navigation Media Queries
@media only screen and (min-width: 768px) {
    header {
        position: sticky;
        top: 0px;
        padding: 20px 8% 12px 8%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .toggle {
        display: none;
    }

    .logo {
        height: 48px;
        margin-bottom: 0;
    }
    
    .links {
        width: 60%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .nav__links {
        display: flex;
        flex-direction: row;
    }

    .nav__links__link {
        display: inline-block;
        padding: 25px 10px;
        border-bottom: none;
        margin-bottom: 0;
    }
    

    .button {
        font-size: 14px;
    }
    
}


// 5- Banner

.banner {
    background: #A20000 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;


    &__text {
        padding: 13px 0 10px 0;
        margin-left: 9%;
    }

    &__text , a {
        font-family: $font-stack ;
        font-size: 16px ;
        font-weight: 400 ;
        letter-spacing: 0;
        color: #FFFFFF;
        
    }
}

// 6- Hero
.hero {
    background-image: url(/images/TinaSliderMobile480.png);
    height: 359px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto 0px;

        h1 {
            font-family: $font-stack;
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            margin: 18px auto;
            padding: 0;
            // padding-bottom: 16px;
        }

        p {
            text-align: center;
            font-family: $font-stack;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0;
            color: #FFFFFF;
            padding: 0 40px 20px ;
            line-height: 24px;
            margin: 0 23px ;
        }
    }

    .button {
        margin-top: 85px;
        box-shadow: 0px 2px 2px #0000003D;
        border-radius: 2px;
        padding: 14px 73px;
        font-family: $font-stack;
        font-weight: 500;
        line-height: 43px;
        font-size: 24px;
    }
}

// Media Queries

@media only screen and (min-width: 768px) {
    .hero {
        background-image: url(/images/Homeimg.png);
        height: 359px;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
    }

    %__text {
        position: absolute;
        top: 0;
    }
}

// 7- Shields

.shields {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    margin-top: 50px;

    img {
        height: 63px;
        width: 63px;
    }
}
