// =========================
// Table of Contents
// =========================
// 1- Variables
// 2- General
// 3- components
    // 3-1 button
// 4- Navigation
// 5- Banner
// 6- Hero
// 7- Shields
// 8- Coaches
// 9- Testimonials

// 1- Variables

$font-stack : 'Montserrat', sans-serif;
$font-medium: 500;
$shield-width: 130px;

// 2- General

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 100%;
    position: relative;
}

// 3- Components

//3-1 Button

.button {
    padding: 15px 27px 14px 33px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase;
    opacity: 1;
    border-radius: 4px;
}

.button--transparent {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    padding: 15px 45px 11px 45px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: left;
    font-family:$font-stack ;
    font-size: 18px;
    font-weight: $font-medium;
}
    


// 4- Navigation

header {
        background-color: rgba(235, 235, 235, .56);
        backdrop-filter: blur(10px);
        padding: 16px 8% 16px 0;
        z-index: 1000;
}


.logo {
    cursor: pointer;
    height: 28px;
    order: 1;
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
}

.nav__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &>* {
        margin-left: 20px;
      }
    
    
    &__link{
        display: none;
        text-align: center;
        width: 100%;
        padding: 16.5px 20px;
        border-bottom: 1px solid #CCCCCC;
        margin-bottom: 10px;
        white-space: nowrap;
        order: 3;
        
        a {
            text-decoration: none;
            font-family: $font-stack;
            text-align: center;
            font-weight: $font-medium;
            font-size: 20px;
            letter-spacing: 0;
            color: rgba(34, 34, 34, .53);
        }

        .button {
            color: #FFFFFF;
            font-size: 16px;
            width: 100%;
        }
    }
    
} 

.active {
    .nav__links__link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    #toggle{
        position: absolute;
        top: 4%;
    }
}

.toggle {
    order: 2;
    position: absolute;
    right: 5%;
    top:30%;
}



.button{

    &--academy {
         background: #3EA410;
         color: #FFFFFF;
         font-family: $font-stack;
         font-weight: $font-medium;
         font-size: 14px;
    }

    &--book {
        background: #FFFFFF;
        color: #000000;
        font-family: $font-stack;
        font-weight: $font-medium;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}

// Navigation Media Queries
// laptop
@media only screen and (min-width: 900px) {
    header {
        position: sticky;
        top: 0px;
        padding: 20px 8% 12px 8%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    .toggle {
        display: none;
    }

    .logo {
        height: 48px;
        margin-bottom: 0;
    }
    
    .links {
        width: 60%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .nav__links {
        display: flex;
        flex-direction: row;
    }

    .nav__links__link {
        display: inline-block;
        padding: 25px 10px;
        border-bottom: none;
        margin-bottom: 0;

        a{
            text-align: center;
            font-family: $font-stack;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0;
            color: rgba(0, 0, 0 , .53);
        }
    }
    

    .button {
        font-size: 14px;
    }
    
}

// tablet 



// 5- Banner

.banner {
    background: #A20000;
    display: flex;
    align-items: center;


    &__text {
        padding: 13px 0 10px 0;
        margin-left: 9%;
    }

    &__text , a {
        font-family: $font-stack ;
        font-size: 16px ;
        font-weight: $font-medium ;
        letter-spacing: 0;
        color: #FFFFFF;
        
    }
}

// 6- Hero
.hero {
    background-image: url(/images/TinaSliderMobile480.png);
    height: 359px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto 0px;

        h1 {
            font-family: $font-stack;
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            margin: 18px auto;
            padding: 0;
        }

        p {
            text-align: center;
            font-family: $font-stack;
            font-weight: $font-medium;
            font-size: 16px;
            letter-spacing: 0;
            color: #FFFFFF;
            line-height: 24px;
            padding: 0 40px 20px ;
            margin: 0 23px ;
        }
    }

    .button {
        margin-top: 90px;
        box-shadow: 0px 2px 2px #0000003D;
        border-radius: 2px;
        padding: 14px 73px;
        font-family: $font-stack;
        font-weight: $font-medium;
        line-height: 43px;
        font-size: 24px;
    }
}

// Hero Media Queries

@media only screen and (min-width: 768px) {
    .hero {
        background-image: url(/images/Homeimg.png);
        min-height: 800px;
        background-size:cover;
        background-repeat: no-repeat;
        position: relative;
        margin: 0;
        padding: 0;
        z-index: -2;
        
    

        &__text {
            // position: absolute;
            // top: 150px;
            // left: 690px;
            margin: 0;
            margin-left: auto;
            margin-top: 200px;
            padding: 0;
            width: 50%;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 46px;
                font-weight: 700;
                line-height: 62px;
                text-align: center;
                margin-bottom: 44px;
                padding: 0;
            }

            p {
                font-family: $font-stack;
                font-weight: $font-medium;
                font-size: 20px;
                line-height: 34px;
                margin: 0;
                padding: 0;
                max-width: 90%;
                margin-bottom: 56px;
            }
       }
       
       .button {
        padding: 14px 74px;
        text-align: center;
        font-family: $font-stack;
        font-weight: $font-medium;
        font-size: 24px;
        line-height: 43px;
        letter-spacing: 0;
        margin-top: 0;

    }
    }
}

// 7- Shields

.shields {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    margin-top: 100px;
    max-width: 100%;
    overflow: hidden;

    img {
        height: 63px;
        width: 63px;
    }
}


// Shields Media Queries

@media only screen and (min-width: 768px) {
    .shields {
        height: 160px;
        margin-top: 26px;
        overflow: initial;
    
    img {
        width: $shield-width;
        height: 130px;
    }

    
    
    .shields--main {
        height: 241px;
        width: 180px;
        margin-top: -82px;
        z-index: 20;
    }

    .shields--last {
        height: 83px;
    }
    }

}

// 8- Coaches

.coaches {
    background-image: url(/images/coaches-bg.png);
    height: 912px;

  

        h1 {
            font-family: $font-stack;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0;
            color: #787878;
            text-transform: uppercase;
            padding: 68px 120px;
        }

    }
    
// Slider

    
    .slider {
        min-width: 500px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 0 20%;
        margin-bottom: 10px;

        .slider__items {
            width: 450px;
            display: flex;
            justify-content: space-around;
        }
        

        img {
            height: 96px;
            width: 96px;
            mix-blend-mode: luminosity;
            cursor: pointer;
        }

        .item--active {
            mix-blend-mode: normal;
            width: 106px;
            height: 106px;
            border: 5.7px solid #2B750A;
            border-radius: 138px;
            box-sizing: border-box;
        }

        &__arrow {
            cursor: pointer;
            user-select: none;
        }
    }

// Dots
    .coaches__dots {
        color: #999999;
        text-align: center;
        margin: 38px 0 37px;
        user-select: none;
        

        .dots--center {
            margin-left: 40px;
            margin-right: 40px;
        }

        .dots--active {
            color: #2B750A;;
        }

        .dots__item {
            cursor: pointer;
        }
    }

  

// Card

    .coaches__card {
        display: none;
        align-content: center;
        min-height: 450px;
        width: 100%;
        max-width: 89%;
        margin: 0 auto;
        background: #F3F3F3;
        box-shadow: 0px 1px 3px #0000001F;
        
    }

    .coaches__card-text {
        width: 70%;
        margin: 36px 114px 49px 54px;

        h2 {
            text-align: left;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0;
            color: #3EA410;
        }

        h3 {
            text-align: left;
            font-family: 'Playfair Display', serif;
            font-weight: 700i;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0;
            color: #2B750A;
            margin-bottom: 31px;
        }
       p  {
            text-align: left;
            font-family: $font-stack;
            font-weight: $font-medium;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            margin-bottom: 20px;
        }

        .bold {
            font-weight: 700;
        }
    }

    .coaches__card-img {
        max-width: 372px;
        max-height: 500px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
.coaches__card--active {
    display: flex;
}

// Coaches Media Queries

@media only screen and (max-width: 768px) {
    
    

    .coaches h1 {
        margin: 0 auto 46px;
        padding: 0 44px;
    }
    
    .slider {
        min-width: 100%;
        margin: 0 auto 60px;
        box-sizing: border-box;

          img {
              height: 60px;
              width: 60px;
          }

          .item--active {
              height: 60px;
              width: 60px;
          }

    }

    .slider img:nth-of-type(2) {
        margin: 0 7px;
    }

    
    .coaches__card {
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        max-width: 100%;
    }

    .coaches__card-img {
        order: 1;
        height: 262px;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center top;
            box-sizing: border-box;
        }
        

    }

    .coaches__card-text {
        order: 2;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 400px;
        padding: 46px 16px 50px;
        box-sizing: border-box;
        margin: 0;
    }

    

}

// 9- Testimonials

.testimonials {
    margin-top: 38px;
    height: 387px;
    position: relative;
    
        h1{
            text-align: center;
            font-family: $font-stack;
            font-weight: 700;
            font-size: 42px;
            line-height: 52px;
            letter-spacing: 0;
            color: #787878;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
}

.testimonials__card {
    background: #F3F3F3;
    max-width: 994px;
    min-height: 177px;
    margin: 0 198px;
}

.testimonials__text {
    padding: 44px 101px 32px;
    text-align: center;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    color: #373A3C;
    text-transform: capitalize;
}

.quotes {
    p {
        text-align: left;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 178px;
        line-height: 238px;
        letter-spacing: -14.06px;
        color: #138422;
    }

    .quote--left {
        transform: matrix(-1, 0, 0, -1, 0, 0);
        position: absolute;
        top: 50px;
        left: 190px;
    }
    .quote--right {
        position: absolute;
        top: 110px;
        right: 180px;
    }
}

// 
.quotes__dots {
    color: #999999;
    text-align: center;
    margin: 38px 0 37px;
    user-select: none;
    

    .dots--center {
        margin-left: 40px;
        margin-right: 40px;
    }

    .dots--active {
        color: #2B750A;;
    }

    .quotes__dots__item {
        cursor: pointer;
    }
}

// Testimonials Media Queries

// Mobile

@media only screen and (max-width: 768px) {
    .testimonials__card {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        min-width: 300px;
        min-height: 314px;
        max-height: 360px;
        padding: 0;
        margin: 0 auto;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        height: 100%;

        h1 {
            padding-top: 222px;
            margin-bottom: 40px;
        }
    }
    .testimonials__text {
        padding: 40px 21px 37px 24px;;
        font-family: $font-stack;
        font-weight: $font-medium;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 1);
        text-align: center;
        position: relative;

    }
    .quotes {

    
    .quote--left {
        top: 280px;
        left: 10px;
    }

    .quote--right {
        top: 470px;
        right: 6px;
    }
}
}