.about-hero {
  background-image: url(/images/about-hero-bg.jpg);
  background-size: cover;
  height: 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.about-hero-img {
  width: 588px;
  height: 436px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 10px solid #FFFFFF;
  overflow: hidden;
  margin-right: 126px;
}

.about-hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-hero-text {
  width: 486px;
  margin-bottom: 130px;
}

.about-hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0;
  color: #353535;
}

.about-hero-text p {
  padding-top: 25px;
  text-align: left;
  font: Medium 16px/28px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #222222;
  height: 507px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.about-hero-text .hero-special {
  color: #3EA410;
}

.about-hero2 {
  background-image: url(/images/BgAbout2.jpg);
  background-size: cover;
  background-position: center right;
  min-height: 900px;
}

.hero-text2 {
  width: 486px;
  padding-top: 80px;
}

.hero-text2 p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06px;
  margin-bottom: 25px;
}

.about-hero-quote {
  background-color: #F3F3F3;
  width: 893px;
  height: 109px;
  margin-left: -60px;
  position: relative;
}

.about-hero-quote p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  padding: 31px 102px 27px;
}

.quotes p {
  text-align: left;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 178px;
  line-height: 238px;
  letter-spacing: -14.06px;
  color: #138422;
}

.quotes .quote--left {
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
          transform: matrix(-1, 0, 0, -1, 0, 0);
  position: absolute;
  top: -60px;
  left: -80px;
}

.quotes .quote--right {
  position: absolute;
  top: -110px;
  right: -100px;
}

@media only screen and (max-width: 768px) {
  .about-hero {
    background-position-y: -750px;
    background-position-x: -550px;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-hero-img {
    margin: 0 auto;
    height: 283px;
    width: 382px;
  }
  .about-hero-text, .hero-text2 {
    width: 382px;
  }
  .about-hero2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-hero-quote {
    max-width: 381px;
    height: 265px;
    margin: 0;
  }
  .about-hero-quote p {
    padding: 44px 37px 30px 29px;
    margin: 0;
  }
  .about-hero-quote .quote--left, .about-hero-quote .quote--right {
    display: none;
  }
}

.about-awards {
  background-image: url(/images/about-awards-bg.png);
  background-size: cover;
  height: 823px;
}

.about-awards h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding: 92px 0 130px;
}

.awards-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 24px;
  -webkit-column-gap: 29px;
          column-gap: 29px;
}

.awards-box {
  max-width: 282px;
  min-width: 230px;
  height: 195px;
  background: rgba(62, 164, 16, 0.75);
  border: 1px solid #707070;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.awards-box h2 {
  text-align: center;
  font: Bold 65px/86px Playfair Display;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 86px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 5px 10px 16px;
}

.awards-box h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 0 10px 15px;
}

.awards-box--special {
  background: rgba(62, 164, 16, 0.6);
}

.awards-box--crop1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%);
  max-width: 342px;
  min-width: 310px;
}

.awards-box--crop1 h3 {
  width: 70%;
  margin: 0 auto;
}

.awards-box--crop4 {
  -webkit-clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
  max-width: 342px;
  min-width: 310px;
}

.awards-box--crop5 {
  -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%);
  max-width: 342px;
  min-width: 310px;
}

.awards-box--crop8 {
  -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
  max-width: 342px;
  min-width: 320px;
}

.awards-box--crop8 h3 {
  width: 60%;
  margin: 0 auto;
}
/*# sourceMappingURL=about.css.map */