.about-hero {
  background-image: url(/images/about-hero-bg.jpg);
  background-size: cover;
  height: 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.about-hero-img {
  width: 588px;
  height: 436px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 10px solid #FFFFFF;
  overflow: hidden;
  margin-right: 126px;
}

.about-hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-hero-text {
  width: 486px;
  margin-bottom: 130px;
}

.about-hero-text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0;
  color: #353535;
}

.about-hero-text p {
  padding-top: 25px;
  text-align: left;
  font: Medium 16px/28px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #222222;
  height: 507px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.about-hero-text .hero-special {
  color: #3EA410;
}

.about-hero2 {
  background-image: url(/images/BgAbout2.jpg);
  background-size: cover;
  background-position: center right;
  min-height: 900px;
}

.hero-img2 {
  display: none;
}

.hero-text2 {
  width: 486px;
  padding-top: 80px;
}

.hero-text2 p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06px;
  margin-bottom: 25px;
}

.about-hero-quote {
  background-color: #F3F3F3;
  width: 893px;
  height: 109px;
  margin-left: -60px;
  position: relative;
}

.about-hero-quote p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  padding: 31px 102px 27px;
}

.quotes p {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 178px;
  line-height: 238px;
  letter-spacing: -14.06px;
  color: #138422;
}

.quotes .quote--left {
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
          transform: matrix(-1, 0, 0, -1, 0, 0);
  position: absolute;
  top: -60px;
  left: -80px;
}

.quotes .quote--right {
  position: absolute;
  top: -110px;
  right: -100px;
}

@media only screen and (max-width: 768px) {
  .about-hero {
    background-position-y: -4px;
    background-position-x: -31px;
    background-image: none;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-hero-img {
    margin: 0 auto;
    height: 283px;
    max-width: 95%;
    margin-bottom: 16px;
  }
  .about-hero-text {
    padding-top: 45px;
    height: 100%;
    background: white;
    margin-bottom: 0;
  }
  .about-hero-text p {
    height: 100%;
    overflow: auto;
  }
  .about-hero-text, .hero-text2 {
    width: 95%;
    margin: 0 auto;
  }
  .hero-text2 {
    padding-top: 0;
  }
  .about-hero2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position-y: -750px;
    background-position-x: -493px;
  }
  .about-hero-quote {
    max-width: 381px;
    width: 95%;
    height: 265px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
  .about-hero-quote p {
    padding: 75px 37px 30px 29px;
    margin: auto;
    text-align: center;
  }
  .quotes {
    display: initial;
  }
  .quotes p {
    padding: 0;
  }
  .quotes .quote--left {
    top: -32px;
    left: 0px;
  }
  .quotes .quote--right {
    top: 44px;
    right: 4px;
  }
  .hero-img2 {
    width: 100%;
    height: 433px;
    display: block;
    margin-bottom: 40px;
  }
  .hero-img2 img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.about-awards {
  background-image: url(/images/about-awards-bg.png);
  background-size: cover;
  height: 823px;
}

.about-awards h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding: 92px 0 130px;
}

.awards-boxes {
  display: none;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 24px;
  -webkit-column-gap: 29px;
          column-gap: 29px;
  margin-bottom: 20px;
}

.awards-box {
  width: 282px;
  height: 175px;
  background: rgba(62, 164, 16, 0.75);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.awards-box h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 86px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 5px 10px 16px;
}

.awards-box h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 0 10px 15px;
}

.awards-boxes-mobile {
  display: none;
}

.awards-box--special {
  background: rgba(62, 164, 16, 0.6);
}

.awards-boxes--active {
  display: -ms-grid;
  display: grid;
}

.boxes-desk-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  margin: 0 auto;
  padding-top: 70px;
  color: rgba(128, 128, 128, 0.8);
}

.boxes-desk-dots i {
  cursor: pointer;
  font-size: 16px;
}

.boxes-desk-dot--active {
  color: #3EA410;
}

@media only screen and (max-width: 768px) {
  .about-awards {
    background-position: center;
  }
  .about-awards h1 {
    padding-bottom: 90px;
  }
  .awards-boxes {
    display: none;
  }
  .container {
    width: 95%;
  }
  .awards-boxes-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-mobile {
    display: none;
  }
  .boxes-desk-dots {
    display: none;
  }
  .awards-boxes--active {
    display: none;
  }
  .box-1, .box-2 {
    min-height: 143px;
    max-width: 382px;
  }
  .box-1 h2, .box-2 h2 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 86px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 0 10px;
  }
  .box-1 h3, .box-2 h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 0 71px 15px;
  }
  .box-1 {
    background-color: rgba(62, 164, 16, 0.6);
    margin-bottom: 19px;
    -webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 5% 100%);
            clip-path: polygon(0 0, 93% 0, 100% 100%, 5% 100%);
  }
  .box-2 {
    background-color: rgba(62, 164, 16, 0.75);
    -webkit-clip-path: polygon(5% 0, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(5% 0, 100% 0%, 93% 100%, 0% 100%);
    margin-bottom: 90px;
  }
  .box--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxes-mobile-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.8);
  }
  .boxes-mobile-dots i {
    cursor: pointer;
    font-size: 20px;
  }
  .boxes-dot--active {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 768px) {
  footer .container {
    width: 95%;
  }
}
/*# sourceMappingURL=about.css.map */