// =========================
// Table of Contents
// =========================
// 1- Hero
// 2- Awards


@import '../abstracts/variables';

// 1- Hero

.about-hero {
    background-image: url(/images/about-hero-bg.jpg);
    background-size: cover;
    height: 100%;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    padding-top: 80px;
    
}

.about-hero-img {
    width: 588px;
    height: 436px;
    box-shadow: 0px 3px 6px #00000029;
    border: 10px solid #FFFFFF;
    overflow: hidden;
    margin-right: 126px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
}

.about-hero-text {
    width: 486px;
    margin-bottom: 130px;

        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0;
            color: #353535;
        }

        
        p {
            padding-top: 25px;
            text-align: left;
            font: Medium 16px/28px Montserrat;
            font-family: $font-stack;
            font-weight: $font-medium;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0;
            color: #222222;
            height: 507px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        .hero-special {
            color: #3EA410;
        }
    }

.about-hero2 {
    background-image: url(/images/BgAbout2.jpg);
    background-size: cover;
    background-position: center right;
    min-height: 900px;
}

.hero-text2 {
    width: 486px;
    padding-top: 80px;
        p{
            text-align: left;
            font-family: $font-stack;
            font-weight: $font-medium;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.06px;
            margin-bottom: 25px;
        }
}

.about-hero-quote {
    background-color: #F3F3F3;
    width: 893px;
    height: 109px;
    margin-left: -120px;
    position: relative;

        p {
            text-align: center;
            font-family: $font-stack;
            font-weight: $font-medium;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            padding: 31px 102px 27px;
        }
}

.quotes {
    p {
        text-align: left;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 178px;
        line-height: 238px;
        letter-spacing: -14.06px;
        color: #138422;
    }
    
    .quote--left {
        transform: matrix(-1, 0, 0, -1, 0, 0);
        position: absolute;
        top: -60px;
        left: -80px;
    }
    .quote--right {
        position: absolute;
        top: -110px;
        right: -100px;
    }
    }

// 2- Awards

.about-awards {
    background-image: url(/images/about-awards-bg.png);
    background-size: cover;
    height: 823px;
}

