.events-hero {
  background-image: url(/images/events-hero-bg.png);
  background-size: cover;
  height: 533px;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .events-hero {
    height: 349px;
    width: 100%;
  }
}

.events-main {
  height: 448px;
}

.main-card {
  padding-bottom: 44px;
  width: 996px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 6px #00000029;
          box-shadow: 1px 1px 6px #00000029;
  margin-top: -140px;
}

.main-card h1 {
  padding-top: 29px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  letter-spacing: 0;
  color: #2B750A;
  text-transform: uppercase;
}

.main-card-container {
  width: 795px;
  margin: 0 auto;
}

.main-card-container i {
  margin-bottom: 5px;
}

.card-content-date {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #626262;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-right: 152px;
}

.card-content-date .date-time {
  font-weight: 500;
}

.card-content-date-mobile {
  display: none;
}

.card-content-text {
  width: 80%;
}

.card-content-text p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #626262;
}

.card-content-row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 16px;
}

.card-content-row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 28px;
}

.card-content-icons {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  color: #989898;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.card-content-icons span {
  font-weight: 700;
}

.card-content-icons div:nth-of-type(1) {
  margin-right: 61px;
}

.icons-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-content-row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.card-content-row-3 .events-link {
  text-align: left;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  color: #2B750A;
  margin-right: 34px;
  margin-left: -34px;
}

.card-content-row-3 .button {
  padding: 10px 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 43px;
}

@media only screen and (max-width: 768px) {
  .events-main {
    height: 875px;
  }
  .main-card {
    padding-bottom: 44px;
    width: 100%;
    margin-top: 0;
  }
  .main-card h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
    text-transform: none;
  }
  .main-card-container {
    width: 100%;
  }
  .card-content-row-1, .card-content-row-2, .card-content-row-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-content-date-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 1px 1px 1px #00000029;
            box-shadow: 1px 1px 1px #00000029;
    border-radius: 4px;
    padding: 12px 30px;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 26px;
  }
  .card-content-date-mobile h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #626262;
  }
  .card-content-date-mobile span {
    font-weight: 500;
  }
  .card-content-date {
    display: none;
  }
  .card-content-row-2 {
    margin-bottom: 40px;
  }
  .card-content-row-3 .events-link {
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

.upcoming-events {
  background-color: #F5F5F5;
  height: 1539px;
  padding-bottom: 87px;
}

.upcoming-events .container {
  max-width: 389px;
}

.upcoming-events h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #787878;
  text-transform: uppercase;
  padding-top: 44px;
  text-align: center;
  margin-bottom: 14px;
}

.upcoming-card {
  background-color: #FFFFFF;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 24px;
}

.upcoming-card-container {
  margin: 0 auto;
}

.upcoming-card-img {
  max-width: 408px;
  height: 418px;
}

.upcoming-card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.upcoming-card-content {
  width: 636px;
  padding-top: 37px;
}

.upcoming-card-content h2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0;
  color: #202020;
  margin-bottom: 17px;
}

.upcoming-card-content p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #626262;
  margin-bottom: 13px;
}

.upcoming-card-content h3 {
  text-align: left;
  font: SemiBold 16px/24px Montserrat;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #787878;
}

.upcoming-card-content i {
  margin-right: 10px;
  color: #787878;
}

.content-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.upcoming-card-content-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 27px;
}

.content-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-date:nth-of-type(1) {
  margin-right: 27px;
}

.upcoming-card-buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.upcoming-card-buttons .button {
  font-size: 24px;
}

.upcoming-link, .upcoming-read {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  color: #2B750A;
}

.upcoming-read {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .upcoming-events {
    height: 100%;
  }
  .upcoming-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcoming-card-img {
    height: 194px;
  }
  .upcoming-card-content {
    width: 100%;
  }
  .upcoming-card-content h2, .upcoming-card-content p {
    text-align: center;
  }
  .upcoming-card-buttons .button {
    display: none;
  }
  .upcoming-read {
    padding: 10px 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    background: #3EA410;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    margin: 0 auto;
  }
  .upcoming-link {
    margin-bottom: 15px;
  }
}

.past-events h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: #787878;
  text-transform: uppercase;
  padding-top: 52px;
  text-align: center;
  margin-bottom: 16px;
}

.past-events-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.past-events-grid h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #202020;
  margin-top: 7px;
  text-align: center;
}

.past-main-img {
  width: 672px;
  height: 510px;
  margin-right: 18px;
}

.past-main-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.side-grid-img {
  width: 246px;
  height: 203px;
}

.side-grid-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.side-grid-img-lg {
  width: 510px;
  height: 246px;
}

.side-grid-img-lg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.past-side-grid-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
  margin-bottom: 10px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}

.aside div:first-of-type {
  margin-right: 18px;
}

.past-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;
  color: #2B750A;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .past-events .container {
    max-width: 389px;
  }
  .past-events .container h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
  }
  .past-events-grid {
    display: none;
  }
  .events-grid-mobile-main {
    height: 211px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events-grid-mobile-main img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .events-grid-mobile-main h3 {
    text-align: center;
    padding-top: 10px;
  }
  .events-grid-mobile-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 28px 11px;
    padding-top: 40px;
    margin-bottom: 50px;
  }
  .events-grid-mobile-items h3 {
    text-align: center;
  }
  .events-grid-mobile-item {
    width: 186px;
    height: 170px;
  }
  .events-grid-mobile-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .past-gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=events.css.map */